<!DOCTYPE html>
<html>
<head>
    <title>Pokemon List</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch('/pokemons/')
                .then(response => response.json())
                .then(data => {
                    const pokemonList = document.getElementById('pokemon-list');
                    data.forEach(pokemon => {
                        const listItem = document.createElement('li');
                        listItem.innerHTML = `<h2>${pokemon.name}</h2>
                                              <p>Pokedex Number: ${pokemon.pokedex_number}</p>
                                              <p>Primary Type: ${pokemon.primary_type}</p>
                                              <p>Secondary Type: ${pokemon.secondary_type}</p>
                                              <img src="${pokemon.image_url}" alt="${pokemon.name}">`;
                        pokemonList.appendChild(listItem);
                    });
                });
        });
    </script>
</head>
<body>
    <h1>Lista de Pokemones!</h1>
    <ul id="pokemon-list"></ul>
</body>
</html>
